<section class="parent section-shaped section-lg" style="height: 100vh;">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="main-container">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h4 style="font-family: 'dillova';text-transform: none;font-size: 36px;font-weight: normal;">
                        evento..
                    </h4>
                </div>
                <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <div class="input-group input-group-alternative"
                            [ngClass]="{'has-danger':isSubmitted && loginForm.controls.email.errors}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>
                            <input class="form-control" formControlName="email" placeholder="Email" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative"
                            [ngClass]="{'has-danger':isSubmitted && loginForm.controls.password.errors}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>
                            <input class="form-control" formControlName="password" placeholder="Password"
                                type="password">
                        </div>
                    </div>
                    <div class="text-center">
                        <p class="text-danger mb-0" *ngIf="isUnauthorized">Username or Password is incorrect</p>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>