<app-navbar></app-navbar>
<main>
    <section class="section">
        <div class="container py-lg-md">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="d-flex px-3">
                        <div class="pr-md-5">
                            <h1 style="color: #32325d;" class="logo-font"> evento.. </h1>
                            <p style="color: #000000;">Easy-to-use event registration technology.</p>
                            <ul class="list-unstyled mt-5">
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-success mr-3 bg-gradient-white shadow">
                                                <i class="ni ni-ruler-pencil text-primary"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h6 class="mb-0">Enter your event details</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-success mr-3 bg-gradient-white shadow">
                                                <i class="ni ni-active-40 text-primary"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h6 class="mb-0">Preview the event and make any changes if necessary
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-success mr-3 bg-gradient-white shadow">
                                                <i class="ni ni-atom text-primary"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h6 class="mb-0">Partayy</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-success mr-3 bg-gradient-white shadow">
                                                <i class="ni ni-satisfied text-primary"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <a routerLink="/event/register" class="logo-font">Get
                                                Started</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative pl-md-5">
                        <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>